.box {
  cursor: pointer;
  text-align: center;
  margin: 0 2rem;
}

.boxActive .boxImage {
  transform: scale(1.1);
  box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.4);
  border: 2px solid #066fd8;
}

.boxImage {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  /* box-sizing: content-box; */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  width: 13vw;
  height: 13vw;
  transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
  overflow: hidden;
}

.boxImage:hover {
  /* box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.4); */
  border: 2px solid rgba(6, 111, 216, 0.5);
}

.choice {
  margin: 1rem;
  font-weight: 800;
  font-size: 2.5rem;
  color: white;
}

.subBoxImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 10vw;
  margin: 0 auto;
}
