.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg {
  box-shadow: 2px 5px 17px rgba(0,0,0, .3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* justify-content: space-between; */
  background: url('../../assets//ticket.png') center bottom no-repeat;
  background-size: contain;
  margin-top: 5%;
  width: 39.3vh;
  height: 70vh;
}

.result {
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  margin: 1.5rem 0;
}

.word {
  font-weight: 800;
  font-size: 2rem;
  padding: 0 2rem 1rem 2rem;
}

.boxImage {
  margin: 3rem 0rem 0 0rem;
  /* position: relative; */
  /* box-sizing: content-box; */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  width: 30vh;
  /* overflow: hidden; */
}

.subBoxImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content {
  /* padding: 1rem; */
  /* margin-top: 1rem; */
}

@media screen and (min-width: 950px) and (max-width:768px) {
  .bg {
    width: 391px;
    height: 696px;
  }
  .boxImage {
    width: 300px;
    height: 300px;
  }
}