.box {
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice {
  color: white;
  margin: 2rem;
  font-weight: 800;
  font-size: 36px;
  margin-top: 3rem;
}


.boxImage {
  margin: 0 auto;
  position: relative;
  /* box-sizing: content-box; */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  width: 36vh;
  height: 36vh;
  /* overflow: hidden; */
}

.subBoxImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.boxEyeImage {
  width: 100%;
  height: 100%;
  transition: transform 200ms ease-in-out;
  transform: scale(1);
}

.playing {
  transform: scale(1.1);
}